.full-page-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #272b30;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-focus:focus {
    box-shadow: none;
    outline: none;
}
.upload-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed-alert{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 999;
}